.bills-list-container {
    margin-top: 20px;
}
.list-row {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    cursor: pointer;
    text-decoration: none;
}
.list-row-title {
    font-weight: 500;
    margin-bottom: 5px;
}
.list-row-details {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #efefef;
}