.modal-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-box {
    width: 400px;
    height: 450px;
    background-color: #ffffff;
    border-radius: 5px;
}
.modal-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #9a9a9a;
    background: #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-close-btn {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .modal-box {
        width: 100%;
        height: 100%;
        /* padding: 20px; */
        background-color: #ffffff;
        border-radius: 0px;
    }
    .modal-box-header {
        margin-top: 60px;
    }
}